uploads/shot/
uploads/fullsize/
uploads/minify/
uploads/thumb/
uploads/crop/
uploads/split/
views/splithtml/
!/views/splithtml/split_temp.html
**/.DS_Store
**/*.log
*.log
webkit/node_modules/
node_modules/*
.idea/*
# Logs
logs
