<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Template Select</title>
		<link rel="stylesheet" href="/stylesheets/C6D080ECC007BEC73.css">
		<link rel="stylesheet" href="/stylesheets/screenshot.css">
		<link rel="stylesheet" href="/stylesheets/button.css">
		<link rel="stylesheet" href="/stylesheets/spin.css">
		<script>window.url = '<%=url%>'</script>
	</head>
	<body>
		<div class='container'>
			<h2>Upload Images</h2>
			<a class="large blue-light button" style="margin-bottom:10px;position:relative;" id='upbn'>Upload</a>
			<label class="radio"><input type="radio" data-xf = 'minify'   name="select-minify">压缩图片</label>
			<label class="radio"><input type="radio" data-xf = 'unminify' name="select-minify">原图上传</label>
			<input style="display:none;" type="file" id="fileinput" name="displayImage" accept="image/gif, image/jpeg, image/webp, image/png" />
			<div id="gallery"></div>
			<h2>Compressed Images</h2>
			<div id='gpicnm'></div>
			<h2>Select Template</h2>
			<div>
				<ul class="rec_sku-title">
					<li>
						<p><label class="radio"><input type="radio" data-xr='shop_unpack' class="set-main temp_radio_class " name="setMain"> 拼购打折</label></p>
					</li>
					<li>
						<p><label class="radio"><input type="radio" data-xr='u_youjipin' class="set-main temp_radio_class" name="setMain">宽版2</label></p>
					</li>
				</ul>
			</div>
			<div class='compress-div'>
					<!-- unpack template -->
					<div class='li-dv'>
						<div id='shop_unpack' name="temp_unpack" class="li sync-hide auto">
							<div class='li unpack-temp-img' id='unpack_img'>
							</div>
							<div id='unpack_title' class='unpack-title-container'>
								<span>
									<b id='unpack_discount' style="font-weight: normal;">20</b>
									<b style="font-size: 17px;font-weight: normal;">%</b>
								</span>
								<div id='unpack_price_origin'>￥600.00</div>
								<div id='unpack_price_current'>￥480.00</div>
								<div id='unpack_vertical_line'></div>
								<div id='unpack_span'>拼购打折<b style="font-size: xx-small;font-weight:normal;">(最低)</b></div>
								<div id='unpack_price_unpack'>￥400.00</div>
							</div>
						</div>
						<div class="pre_temp sync-hide" >
							<label>折扣：<input style='width: 235px;' type="text"></label>
							<label>原价：<input style='width: 235px;' type="text"></label>
							<label>现价：<input style='width: 235px;' type="text"></label>
							<label>拼购价：<input style='width: 235px;' type="text"></label>
							<label>标题占宽度百分比：<input style='width: 235px;' type="text"></label>
							<label>标题距左侧百分比：<input style='width: 235px;' type="text"></label>
							<label>图片名称：<input style='width: 270px;' type="text"></label>
							<label>宽度：<input name='custom_w' type="text"></label>
							<label>高度：<input name='custom_h' type="text"></label>
							<label>原始宽高<input name='origin_wh' type="checkbox"></label>
							<a class="preview-botton small prev button" name='pre_unpack_bt'>Preview</a>
						</div>
					</div>
					<div class='li-dv'>
						<div id='u_youjipin' class="goods_list_img">
							<div class="img">
								<a class="track">
									<img data-index='4' src="http://i.liveport.cn/images/daily_goods/mobile/2015-09-24-1.jpg?v=8" width="100%" style="display: inline;">
								</a>
								<span data-index='0'>仅剩10天</span>
							</div>
							<div class="text">
								<i data-index='1' style='font-style: normal;'>★以思念为料，享受烘焙的甜蜜★</i>
								<span >
									<b data-index='2'>6</b>
									<i data-index='3' style='font-style: normal;'>元起</i>
								</span>
							</div>
						</div>
						<div class = "pre_temp">
							<table>
								<tbody>
									<tr>
										<th>仅剩：</th>
										<td><input class='input-area' type="text"></td>
									</tr>
									<tr>
										<th>标题：</th>
										<td><input class='input-area' type="text"></td>
									</tr>
									<tr>
										<th>价格/折扣：</th>
										<td><input class='input-area' type="text"></td>
									</tr>
									<tr>
										<th>元/折起：</th>
										<td><input class='input-area' type="text"></td>
									</tr>
									<tr>
										<th>图片URL：</th>
										<td><input class='input-area' type="text"></td>
									</tr>
									<tr>
										<th>原始宽高：</th>
										<td><input name='origin_wh' type="checkbox"></td>
									</tr>
									<tr>
										<th>宽度：</th>
										<td><input name='custom_w' class='size' type="text"></td>
									</tr>
									<tr>
										<th>高度：</th>
										<td><input name='custom_h' class='size' type="text"></td>
									</tr>
									<tr>
										<th></th>
										<td><a name='pre_unpack_bt' class="small blue-light button">Preview</a></td>
									</tr>
								</tbody>
							</table>
						</div>	
					</div>
			</div>
			<div class='submit-area'>
				<a class="large blue-light button" id='submit'>Submit</a>
			</div>
	</div>
	<div id="mask" class="ui-mask" style="display: none;">
		<div id="circularG">
			<div id="circularG_1" class="circularG"></div>
			<div id="circularG_2" class="circularG"></div>
			<div id="circularG_3" class="circularG"></div>
			<div id="circularG_4" class="circularG"></div>
			<div id="circularG_5" class="circularG"></div>
			<div id="circularG_6" class="circularG"></div>
			<div id="circularG_7" class="circularG"></div>
			<div id="circularG_8" class="circularG"></div>
		</div>
	</div>
	<!---     -->
	<script src="//code.jquery.com/jquery-1.11.3.min.js" ></script>
	<script src="/javascripts/shot.style.js"></script>
	<script src="/javascripts/Math.uuid.js"></script>
</body>
</html>
