<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Template Select</title>
		<link rel="stylesheet" href="/stylesheets/C6D080ECC007BEC73.css">
		<link rel="stylesheet" href="/stylesheets/screenshot.css">
		<link rel="stylesheet" href="/stylesheets/button.css">
		<link rel="stylesheet" href="/stylesheets/spin.css">
		<script>window.url = '<%=url%>'</script>
	</head>
	<body>
		<div class='container'>
			<h2>Upload Images</h2>
			<a class="large blue-light button" style="margin-bottom:10px;position:relative;" id='upbn'>Upload</a>
			<label class="radio"><input type="radio" data-xf = 'minify'   name="select-minify">压缩图片</label>
			<label class="radio"><input type="radio" data-xf = 'unminify' name="select-minify">原图上传</label>
			<input style="display:none;" type="file" id="fileinput" name="displayImage" accept="image/gif, image/jpeg, image/webp, image/png" />
			<div id="gallery"></div>
			<h2>Compressed Images</h2>
			<div id='gpicnm'></div>
			<h2>Select Template</h2>
			<div>
				<ul class="rec_sku-title">
					<li>
						<p><label class="radio"><input type="radio" data-xr='shop_price' class="set-main temp_radio_class" name="setMain">底部价格</label></p>
					</li>
					<li>
						<p><label class="radio"><input type="radio" data-xr='shop_gray' class="set-main temp_radio_class" name="setMain"> 底部灰色</label></p>
					</li>
					<li>
						<p><label class="radio"><input type="radio" data-xr='shop_poster' class="set-main temp_radio_class" name="setMain"> 简约风格</label></p>
					</li>
					<li>
						<p><label class="radio"><input type="radio" data-xr='shop_unpack' class="set-main temp_radio_class " name="setMain"> 拼购打折</label></p>
					</li>
					<li>
						<p><label class="radio"><input type="radio" data-xr='deal_wide' class="set-main temp_radio_class" name="setMain"> 宽版</label></p>
					</li>
					<li>
						<p><label class="radio"><input type="radio" data-xr='hmm_collections' class="set-main temp_radio_class" name="setMain">打包品</label></p>
					</li>
					<li>
						<p><label class="radio"><input type="radio" data-xr='u_youjipin' class="set-main temp_radio_class" name="setMain">宽版2</label></p>
					</li>
				</ul>
			</div>
			<div class='compress-div'>
					<!--bottom price template-->
					<div class='li-dv'>
						<div id='shop_price' class='sync-hide' name='temp_price' style='display: inline-block;'>
							<div class='li bottom-price-temp' id='price_img'>
								<img src="/images/59162b78.jpg">
							</div>
							<div style='display: block;postition:relative; height: 54px;width:100%;'>
								<div class="title">
									<p>
										<a href="javascript:void(0)" id ='price_title' target="_blank">韩版娃娃领打底雪纺衫</a>
									</p>
								</div>
								<div class="promotion">
									<span id='price_discount' class="shop_price_btn">3.2折</span>
									<span id='price_current_price'class="add_red">￥49.92</span>
									<span id='price_origin_price'class="origin_price">￥158.00</span>
								</div>
							</div>
						</div>
						<div class="pre_temp sync-hide" >
							<label>标题：<input style='width: 235px;' type="text"></label>
							<label>现价：<input type="text"></label>
							<label>原价：<input type="text"></label>
							<label>折扣：<input type="text"></label>
							<label>图片名称：<input style='width: 270px;' type="text"></label>
							<label>宽度：<input name='custom_w' type="text"></label>
							<label>高度：<input name='custom_h' type="text"></label>
							<label>原始宽高<input name='origin_wh' type="checkbox"></label>
							<a class="preview-botton small prev button" name='pre_unpack_bt'>Preview</a>
						</div>
					</div>
					<!--bottom gray template-->
					<div class='li-dv'>
						<div id='shop_gray' name="temp_gray" class="li sync-hide" style='display: inline-block;width:auto;height:auto;'>
							<div class='li bottom-gray-temp' id='gray_img'>
								<img src="/images/59162b78.jpg">
							</div>
							<a id='gray_title' class="bar" href="javascript:void(0)" target="_blank">当季最CHIC小白鞋</a> 
						</div>
						<div class="pre_temp sync-hide" >
							<label>标题：<input style='width: 235px;' type="text"></label>
							<label>图片名称：<input style='width: 270px;' type="text"></label>
							<label>宽度：<input name='custom_w' type="text"></label>
							<label>高度：<input name='custom_h' type="text"></label>
							<label>原始宽高<input name='origin_wh' type="checkbox"></label>
							<a class="preview-botton small prev button" name='pre_unpack_bt'>Preview</a>
						</div>
					</div>
					<!--simple template-->
					<div class='li-dv'>
						<div id='shop_poster' name="temp_poster" class="new_poster sync-hide">
							<div class="np_pic hover_pic">
								<div id='poster_price' class="price">￥108.00</div>
								<div id='poster_img' style='display:block;width:auto;height:auto;'>
									<img src="/images/59162b78.jpg">
								</div>
								<div></div>
							</div>
							<div class="title">
								<p>
									<a id='poster_title' href="javascript:void(0)" target="_blank">平底鞋单鞋小白鞋帆布鞋</a>
								</p>
							</div>
							<div class="comm_num">
								<a class="pl" href="javascript:void(0)" target="_blank">销量(<span id="poster_sale_num">102</span>)</a>
								<b class="likes_status">
									<i class="lm_love2"></i>&nbsp;喜欢
								</b> 
								<span id='poster_like_num' class="red_f f14_f poster_like_num">11</span>
							</div>
						</div>
						<div class="pre_temp sync-hide" >
							<label>标题：<input style='width: 235px;' type="text"></label>
							<label>价格：<input type="text"></label>
							<label>销量：<input type="text"></label>
							<label>喜欢：<input type="text"></label>
							<label>图片名称：<input style='width: 270px;' type="text"></label>
							<label>宽度：<input name='custom_w' type="text"></label>
							<label>高度：<input name='custom_h' type="text"></label>
							<label>原始宽高<input name='origin_wh' type="checkbox"></label>
							<a class="preview-botton small prev button" name='pre_unpack_bt'>Preview</a>
						</div>
					</div>
					<!-- unpack template -->
					<div class='li-dv'>
						<div id='shop_unpack' name="temp_unpack" class="li sync-hide auto">
							<div class='li unpack-temp-img' id='unpack_img'>
							</div>
							<div id='unpack_title' class='unpack-title-container'>
								<span>
									<b id='unpack_discount' style="font-weight: normal;">20</b>
									<b style="font-size: 17px;font-weight: normal;">%</b>
								</span>
								<div id='unpack_price_origin'>￥600.00</div>
								<div id='unpack_price_current'>￥480.00</div>
								<div id='unpack_vertical_line'></div>
								<div id='unpack_span'>拼购打折<b style="font-size: xx-small;font-weight:normal;">(最低)</b></div>
								<div id='unpack_price_unpack'>￥400.00</div>
							</div>
						</div>
						<div class="pre_temp sync-hide" >
							<label>折扣：<input style='width: 235px;' type="text"></label>
							<label>原价：<input style='width: 235px;' type="text"></label>
							<label>现价：<input style='width: 235px;' type="text"></label>
							<label>拼购价：<input style='width: 235px;' type="text"></label>
							<label>标题占宽度百分比：<input style='width: 235px;' type="text"></label>
							<label>标题距左侧百分比：<input style='width: 235px;' type="text"></label>
							<label>图片名称：<input style='width: 270px;' type="text"></label>
							<label>宽度：<input name='custom_w' type="text"></label>
							<label>高度：<input name='custom_h' type="text"></label>
							<label>原始宽高<input name='origin_wh' type="checkbox"></label>
							<a class="preview-botton small prev button" name='pre_unpack_bt'>Preview</a>
						</div>
					</div>
					<!-- Wide version -->
					<div class='li-dv'>
						<div id="deal_wide" class="deal liked sharing">
								<div class="deal-image">
									<a><img src="/images/750/2015-09-25-1.jpg"></a>
								</div>
								<div class="meta">
									<div class="deal-info">
										<div class="deal-title">
											<a>选择一把既能扮靓又兼具实用的雨伞来凹造型，依旧是下雨天的必修课。</a>
											<div class="price-row">
												<span class="now-price">¥13.99</span>
												<span class="meta-info retail-price">¥46.99</span>
												<span class="meta-info sold-quantity">2 SOLD</span>
											</div>
										</div>
										<div class="deal-actions">
											<div id="login-bubble-91579" class="login-required fadeInUp animated">
												<svg width=".5cm" height=".5cm" viewBox="0 0 400 400"> 
													<g stroke="#999999">
														<line x1="100" y1="300" x2="300" y2="100" stroke-width="20"></line> 
														<line x1="100" y1="100" x2="300" y2="300" stroke-width="20"></line>
													</g>
												</svg>
												<i class="icon-remove"></i> 
												<p class="txt-gray f18 italic">Have an account?</p>
												<p class="mar20b">In order to favorite this deal you need to either login or signup.</p>
												<div class="btn-flat btn-sm"> LOGIN </div>
												<div class="btn-flat bgBlue mar10l btn-sm"> SIGNUP </div>
											</div>
											<button class="like">
												<i class="fa"></i>
												<span id="count-91579" class="count" data-like-count="92">93</span>
											</button>
											<button class="share">
												<img src="https://d2ilfdg091sfom.cloudfront.net/content/images/jane/share.svg">
											</button>
										</div>
									</div>
									<div class="social-icons">
										<a rel="nofollow" target="_blank" class="google"><i class="fa fa-google-plus"></i></a>
										<a rel="nofollow" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
										<a rel="nofollow" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
										<a rel="nofollow" target="_blank" class="pinterest"><i class="fa fa-pinterest"></i></a>
									</div>
								</div>
							</div>
							<div class="pre_temp sync-hide" >
								<label>仅剩：<input style='width: 235px;' type="text"></label>
								<label>标题：<input style='width: 235px;' type="text"></label>
								<label>多少起：<input style='width: 235px;' type="text"></label>
								<label>图片名称：<input style='width: 270px;' type="text"></label>
								<label>宽度：<input name='custom_w' type="text"></label>
								<label>高度：<input name='custom_h' type="text"></label>
								<label>原始宽高<input name='origin_wh' type="checkbox"></label>
								<a class="preview-botton small prev button" name='pre_unpack_bt'>Preview</a>
							</div>
					</div>
					<div class='li-dv'>
						<div id='hmm_collections' class='collections'>
							<figure class='collections-figure'>
								<span class='collections-logo'></span>
								<img src="/images/750/idid_ie2tam3egbswmoldgmzdambqhayde_750x316.jpg" width='100%'>
								<div class='collection-locate-container'>
									<span class='collections-location'></span>
									<span class='collections-location-text'>韩国  ·  潮流新风尚</span>
								</div>
							</figure>
							<figcaption>
								<span class='collection-title'>Daycraft的做工是属于上乘，手感，做工，颜色，印刷这些都能得高分。价格亲民，又很耐用。</span>
								<span class='collection-price'>
									<b class='display-price'>¥80</b>
									<b class='display-up'>起</b>
									<i class='display-count'>&nbsp;|&nbsp;</i>
									<i class='display-amount'>8</i>
									<b class='display-up'>款单品</b>
								</span>
								<span class='collection-click'>....</span>
							</figcaption>
						</div>
						<div class="pre_temp sync-hide" >
							<label>仅剩：<input style='width: 235px;' type="text"></label>
							<label>标题：<input style='width: 235px;' type="text"></label>
							<label>多少起：<input style='width: 235px;' type="text"></label>
							<label>图片名称：<input style='width: 270px;' type="text"></label>
							<label>宽度：<input name='custom_w' type="text"></label>
							<label>高度：<input name='custom_h' type="text"></label>
							<label>原始宽高<input name='origin_wh' type="checkbox"></label>
							<a class="preview-botton small prev button" name='pre_unpack_bt'>Preview</a>
						</div>
					</div>
					<div class='li-dv'>
						<div id='u_youjipin' class="goods_list_img">
							<div class="img">
								<a class="track">
									<img data-index='4' src="http://i.liveport.cn/images/daily_goods/mobile/2015-09-24-1.jpg?v=8" width="100%" style="display: inline;">
								</a>
								<span data-index='0'>仅剩10天</span>
							</div>
							<div class="text">
								<i data-index='1' style='font-style: normal;'>★以思念为料，享受烘焙的甜蜜★</i>
								<span >
									<b data-index='2'>6</b>
									<i data-index='3' style='font-style: normal;'>元起</i>
								</span>
							</div>
						</div>
						<div class = "pre_temp">
							<table>
								<tbody>
									<tr>
										<th>仅剩：</th>
										<td><input class='input-area' type="text"></td>
									</tr>
									<tr>
										<th>标题：</th>
										<td><input class='input-area' type="text"></td>
									</tr>
									<tr>
										<th>价格/折扣：</th>
										<td><input class='input-area' type="text"></td>
									</tr>
									<tr>
										<th>元/折起：</th>
										<td><input class='input-area' type="text"></td>
									</tr>
									<tr>
										<th>图片URL：</th>
										<td><input class='input-area' type="text"></td>
									</tr>
									<tr>
										<th>原始宽高：</th>
										<td><input name='origin_wh' type="checkbox"></td>
									</tr>
									<tr>
										<th>宽度：</th>
										<td><input name='custom_w' class='size' type="text"></td>
									</tr>
									<tr>
										<th>高度：</th>
										<td><input name='custom_h' class='size' type="text"></td>
									</tr>
									<tr>
										<th></th>
										<td><a name='pre_unpack_bt' class="small blue-light button">Preview</a></td>
									</tr>
								</tbody>
							</table>
						</div>	
					</div>
				<!--拼购打折-->
				<div class='li-dv'>
					<div id="q_youjipin" class="pingou">
						<!--<div class="img">-->
						<!--<a class="track">-->
						<!--<img data-index='4' src="http://i.liveport.cn/images/daily_goods/mobile/2015-09-24-1.jpg?v=8" width="100%" style="display: inline;">-->
						<!--</a>-->
						<!--</div>-->
						<div class="img">
							<a class="track">
								<img data-index='4' src="http://i.liveport.cn/images/daily_goods/mobile/2015-09-24-1.jpg?v=8" width="100%" style="display: inline;">
							</a>
						</div>
						<div class="text">
							<div class="illustrate-box">
								<div class="illustrate-l">
									<div class="sale">
										<!--	<span class="sale-rate">20</span><i>%</i>-->
                                                    <span class="sale-rate">
														<span>20%</span>
                                                        <i>打折率:</i>
                                                    </span>

									</div>
									<div class="money">
										<span class="money-raw">市场价:<i data-index='0'>￥600</i></span>
										<span class="now">折扣价:<i data-index='1'>￥480</i></span>
									</div>

								</div>
								<div class="illustrate-r">
									<span class="one">拼购打折<i>(最低)</i></span>
									<span class="two" data-index='2'>2人拼购</span>
									<span class="three" data-index='3'>￥400</span>
									<span class="four" data-index='4'>已拼购2345人</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--上传-->
				<div class='li-dv'>
					<div id="upload-img">
						<div class="img">
							<a href="javascript:void(0)" class="upload-a btn-primary">
								上传图片
								<input type="file" class="upload1">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class='submit-area'>
				<a class="large blue-light button" id='submit'>Submit</a>
			</div>
	</div>
	<div id="mask" class="ui-mask" style="display: none;">
		<div id="circularG">
			<div id="circularG_1" class="circularG"></div>
			<div id="circularG_2" class="circularG"></div>
			<div id="circularG_3" class="circularG"></div>
			<div id="circularG_4" class="circularG"></div>
			<div id="circularG_5" class="circularG"></div>
			<div id="circularG_6" class="circularG"></div>
			<div id="circularG_7" class="circularG"></div>
			<div id="circularG_8" class="circularG"></div>
		</div>
	</div>
	<!---     -->
	<script src="//code.jquery.com/jquery-1.11.3.min.js" ></script>
	<script src="/javascripts/shot.style.js"></script>
	<script src="/javascripts/Math.uuid.js"></script>
</body>
</html>
