<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>Template Select</title>
	<link rel="stylesheet" href="/stylesheets/C6D080ECC007BEC73.css">
	<link rel="stylesheet" href="/stylesheets/screenshot.css">
	<link rel="stylesheet" href="/stylesheets/templates-img.css">
	<style>
		.container{
		    position: relative;
		}
		.compress-div {
		    position: relative;
		    width: 100%;
		    border: 0px dashed #e6e6e6; 
		    padding: 0px;
		    overflow: auto;
		}
		body{
		    margin: 0px;
		    width: 100%;
		    padding: 0px;
		    height: 100%;
			overflow: auto;
		}
	</style>
</head>
<body><div class="li-dv" style="display: block;"><div class="temp-img" style="height: 102%;"><div class="bg-img" onmousedown="righthit(this.childNodes)"><img src="http://172.28.3.18:3008/uploads/minify/f77701dc44a84bdc91f0340d3d618c751453375720743.jpg"><input id="f77701dc44a84bdc91f0340d3d618c751453375720743" type="hidden" name="f77701dc44a84bdc91f0340d3d618c751453375720743.jpg" value="/uploads/minify/f77701dc44a84bdc91f0340d3d618c751453375720743.jpg"></div></div></div></body>
</html>
