<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>Template Select</title>
	<link rel="stylesheet" href="/stylesheets/C6D080ECC007BEC73.css">
	<link rel="stylesheet" href="/stylesheets/screenshot.css">
	<link rel="stylesheet" href="/stylesheets/templates-img.css">
	<style>
		.container{
		    position: relative;
		}
		.compress-div {
		    position: relative;
		    width: 100%;
		    border: 0px dashed #e6e6e6; 
		    padding: 0px;
		    overflow: auto;
		}
		body{
		    margin: 0px;
		    width: 100%;
		    padding: 0px;
		    height: 100%;
			overflow: auto;
		}
	</style>
</head>
<body><div class="li-dv" style="display: block;"><div class="temp-img" style="height: 102%;"><div class="bg-img" onmousedown="righthit(this.childNodes)"><img src="http://hmm-images.oss-cn-beijing.aliyuncs.com/129b9898e89d4299a5a32889a431a2f91453787431378.jpg"><input id="129b9898e89d4299a5a32889a431a2f91453787431378" type="hidden" name="129b9898e89d4299a5a32889a431a2f91453787431378.jpg" value="/uploads/minify/129b9898e89d4299a5a32889a431a2f91453787431378.jpg"></div><div class="drag-img" onmousedown="righthit(this)" style="width: 591.5px; top: 70px; left: 262px;"><img src="http://hmm-images.oss-cn-beijing.aliyuncs.com/c984b475284b4816b3a8bfedcfa84e721453787437460.jpg"><input id="c984b475284b4816b3a8bfedcfa84e721453787437460" type="hidden" name="c984b475284b4816b3a8bfedcfa84e721453787437460.jpg" value="/uploads/minify/c984b475284b4816b3a8bfedcfa84e721453787437460.jpg"></div></div></div></body>
</html>
