<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>Template Select</title>
	<link rel="stylesheet" href="/stylesheets/C6D080ECC007BEC73.css">
	<link rel="stylesheet" href="/stylesheets/screenshot.css">
	<style>
		.container{
		    position: relative;
		}
		.compress-div {
		    position: relative;
		    width: 100%;
		    border: 0px dashed #e6e6e6; 
		    padding: 0px;
		    overflow: auto;
		}
		body{
		    margin: 0px;
		    width: auto;
		    padding: 0px;
		    height: auto;
			/*overflow: hidden;*/
		}
	</style>
</head>
<body>

                <!-- bottom price template -->
				<div class='li-dv'>
					<div id='shop_price' class='sync-hide' name='temp_price' style='display: inline-block;'>
						<div class='li bottom-price-temp' id='price_img'>
							<img src="/images/59162b78.jpg">
						</div>
						<div style='display: block;postition:relative; height: 54px;width:100%;'>
							<div class="title">
								<p>
									<a href="javascript:void(0)" id ='price_title' target="_blank">韩版娃娃领打底雪纺衫</a>
								</p>
							</div>
							<div class="promotion">
								<span id='price_discount' class="shop_price_btn">3.2折</span>
								<span id='price_current_price'class="add_red">￥49.92</span>
								<span id='price_origin_price'class="origin_price">￥158.00</span>
							</div>
						</div>
					</div>
				</div>
                <!-- &lt;!&ndash;bottom gray template&ndash;&gt; -->
				<div class='li-dv'>
					<div id='shop_gray' name="temp_gray" class="li sync-hide" style='display: inline-block;width:auto;height:auto;'>
						<div class='li bottom-gray-temp' id='gray_img'>
							<img src="/images/59162b78.jpg">
						</div>
						<a id='gray_title' class="bar" href="javascript:void(0)" target="_blank">当季最CHIC小白鞋</a> 
					</div>
				</div>
                <!-- &lt;!&ndash;simple template&ndash;&gt; -->
				<div class='li-dv'>
					<div id='shop_poster' name="temp_poster" class="new_poster sync-hide">
						<div class="np_pic hover_pic">
							<div id='poster_price' class="price">￥108.00</div>
							<div id='poster_img' style='display:block;width:auto;height:auto;'>
								<img src="/images/59162b78.jpg">
							</div>
							<div></div>
						</div>
						<div class="title">
							<p>
								<a id='poster_title' href="javascript:void(0)" target="_blank">平底鞋单鞋小白鞋帆布鞋</a>
							</p>
						</div>
						<div class="comm_num">
							<a class="pl" href="javascript:void(0)" target="_blank">销量(<span id="poster_sale_num">102</span>)</a>
							<b class="likes_status">
								<i class="lm_love2"></i>&nbsp;喜欢
							</b> 
							<span id='poster_like_num' class="red_f f14_f poster_like_num">11</span>
						</div>
					</div>
				</div>
                <!-- &lt;!&ndash; unpack template &ndash;&gt; -->
				<div class='li-dv'>
					<div id='shop_unpack' name="temp_unpack" class="li sync-hide auto">
						<div class='li unpack-temp-img' id='unpack_img'>
						</div>
						<div id='unpack_title' class='unpack-title-container'>
							<span>
								<b id='unpack_discount' style="font-weight: normal;">20</b>
								<b style="font-size: 17px;font-weight: normal;">%</b>
							</span>
							<div id='unpack_price_origin'>￥600.00</div>
							<div id='unpack_price_current'>￥480.00</div>
							<div id='unpack_vertical_line'></div>
							<div id='unpack_span'>拼购打折<b style="font-size: xx-small;font-weight:normal;">(最低)</b></div>
							<div id='unpack_price_unpack'>￥400.00</div>
						</div>
					</div>
				</div>
                <!-- &lt;!&ndash; Wide version &ndash;&gt; -->
				<div class='li-dv'>
					<div id="deal_wide" class="deal liked sharing">
							<div class="deal-image">
								<a><img src="/images/750/2015-09-25-1.jpg"></a>
							</div>
							<div class="meta">
								<div class="deal-info">
									<div class="deal-title">
										<a>选择一把既能扮靓又兼具实用的雨伞来凹造型，依旧是下雨天的必修课。</a>
										<div class="price-row">
											<span class="now-price">¥13.99</span>
											<span class="meta-info retail-price">¥46.99</span>
											<span class="meta-info sold-quantity">2 SOLD</span>
										</div>
									</div>
									<div class="deal-actions">
										<div id="login-bubble-91579" class="login-required fadeInUp animated">
											<svg width=".5cm" height=".5cm" viewBox="0 0 400 400"> 
												<g stroke="#999999">
													<line x1="100" y1="300" x2="300" y2="100" stroke-width="20"></line> 
													<line x1="100" y1="100" x2="300" y2="300" stroke-width="20"></line>
												</g>
											</svg>
											<i class="icon-remove"></i> 
											<p class="txt-gray f18 italic">Have an account?</p>
											<p class="mar20b">In order to favorite this deal you need to either login or signup.</p>
											<div class="btn-flat btn-sm"> LOGIN </div>
											<div class="btn-flat bgBlue mar10l btn-sm"> SIGNUP </div>
										</div>
										<button class="like">
											<i class="fa"></i>
											<span id="count-91579" class="count" data-like-count="92">93</span>
										</button>
										<button class="share">
											<img src="https://d2ilfdg091sfom.cloudfront.net/content/images/jane/share.svg">
										</button>
									</div>
								</div>
								<div class="social-icons">
									<a rel="nofollow" target="_blank" class="google"><i class="fa fa-google-plus"></i></a>
									<a rel="nofollow" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
									<a rel="nofollow" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
									<a rel="nofollow" target="_blank" class="pinterest"><i class="fa fa-pinterest"></i></a>
								</div>
							</div>
						</div>
				</div>
                <!-- &lt;!&ndash; locations &ndash;&gt; -->
				 <div class='li-dv'>
                    <div id='hmm_collections' class='collections'>
                        <figure class='collections-figure'>
                            <span class='collections-logo'></span>
                            <img src="/images/750/idid_ie2tam3egbswmoldgmzdambqhayde_750x316.jpg" width='100%'>
                            <div class='collection-locate-container'>
                                <span class='collections-location'></span>
                                <span class='collections-location-text'>韩国  ·  潮流新风尚</span>
                            </div>
                        </figure>
                        <figcaption>
                            <span class='collection-title'>Daycraft的做工是属于上乘，手感，做工，颜色，印刷这些都能得高分。价格亲民，又很耐用。</span>
                            <span class='collection-price'>
                                <b class='display-price'>¥80</b>
                                <b class='display-up'>起</b>
                                <i class='display-count'>&nbsp;|&nbsp;</i>
                                <i class='display-amount'>8</i>
                                <b class='display-up'>款单品</b>
                            </span>
                            <span class='collection-click'>....</span>
                        </figcaption>
                    </div>
                </div> 
                 <!-- youjipin  -->
				<div class='li-dv'>
					<div id='u_youjipin' class="goods_list_img">
						<div class="img">
							<a class="track">
								<img data-index='4' src="http://i.liveport.cn/images/daily_goods/mobile/2015-09-24-1.jpg?v=8" width="100%" style="display: inline;">
							</a>
							<span data-index='0'>仅剩10天</span>
						</div>
						<div class="text">
							<i data-index='1' style='font-style: normal;'>★以思念为料，享受烘焙的甜蜜★</i><span ><b data-index='2'>6</b><i data-index='3' style='font-style: normal;'>元起</i></span>
						</div>
					</div>
				</div>
                <!-- 拼购打折 -->
				<div class='li-dv'>
					<div id="q_youjipin" class="pingou">
						<div class="img">
						<a class="track">
						<img data-index='4' src="http://i.liveport.cn/images/daily_goods/mobile/2015-09-24-1.jpg?v=8" width="100%" style="display: inline;">
						</a>
						</div>
						<div class="img">
							<a class="track">
								<img data-index='6' src="http://i.liveport.cn/images/daily_goods/mobile/2015-09-24-1.jpg?v=8" width="100%" style="display: inline;">
							</a>
						</div>
						<div class="text">
							<div class="illustrate-box">
								<div class="illustrate-l">
									<div class="sale">
										<span class="sale-rate" data-index='0'>
											20%
										</span>
										<i>打折率:</i>
									</div>
									<div class="money">
										<span class="money-raw">市场价:<i data-index='1'>￥600</i></span>
										<span class="now">折扣价:<i data-index='2'>￥480</i></span>
									</div>
								</div>
								<div class="illustrate-r">
									<span class="one">拼购打折<i>(最低)</i></span>
									<span class="two" data-index='3'>2人拼购</span>
									<span class="three" data-index='4'>￥400</span>
									<span class="four" data-index='5'>已拼购2345人</span>
								</div>
							</div>
						</div>
					</div>
				</div>
                <!-- 上传 -->
				<div class='li-dv'>
					<div id="upload-img">
						<div class="img">
							<a class="track">
								<img data-index='0' src="http://i.liveport.cn/images/daily_goods/mobile/2015-09-24-1.jpg?v=8" width="100%" style="display: inline;">
							</a>
						</div>
					</div>
				</div>
<script src="//code.jquery.com/jquery-1.11.3.min.js" ></script>
<script>
	$(function() {
		$('#<%=tempid%>').parent().css({'display':'block'});
		/** u_youjipin ***/
		if ('<%=tempid%>' == 'u_youjipin') {
			var index=0;
			$('#u_youjipin').width('<%=xr_width%>');

			<% array.forEach(function(dt) { %>
				if (index === 4) {
					$('#u_youjipin').find("[data-index='" + index + "']").attr('src', '<%=dt%>');
					$('#u_youjipin').find("[data-index='" + index + "']").height('<%=img_height%>');
				}
				else {
					$('#u_youjipin').find("[data-index='" + index + "']").text('<%=dt%>');
				}
				index++;
			<% }); %>
		}
		/** q_youjipin ***/
		if ('<%=tempid%>' == 'q_youjipin') {
			var index=0;
		<% array.forEach(function(dt) { %>
				if (index === 6) {
					$('#q_youjipin').find("[data-index='" + index + "']").attr('src', '<%=dt%>');
				}
				else {
					$('#q_youjipin').find("[data-index='" + index + "']").text('<%=dt%>');
				}
				index++;
				<% }); %>
		}
		/** UPLOAD-IMG ***/
		if ('<%=tempid%>' == 'upload-img') {
			var index=0;

		<% array.forEach(function(dt) { %>
				if (index === 0) {
					$('#upload-img').find("[data-index='" + index + "']").attr('src', '<%=dt%>');
				}
				else {
					$('#upload-img').find("[data-index='" + index + "']").text('<%=dt%>');
				}
				index++;
				<% }); %>
		}
	})
</script>
</body>
</html>
