<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Image Canvas</title>
</head>
<style>
p img{
	float: none;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: top;
}
p {
  margin: 1.12em 0;
  line-height: 1.4;
  padding: 0;
}

</style>
<body>
<p>
	<img alt="e7dee9484ab7efab004fa3396d62c389.png" src="http://localhost:3000/uploads/crop/f6e30fd0af4f0f1d9348e18f5eaa9f8e.jpg_crop_0.jpg">
	<img alt="e7dee9484ab7efab004fa3396d62c389.png" src="http://localhost:3000/uploads/crop/f6e30fd0af4f0f1d9348e18f5eaa9f8e.jpg_crop_1.jpg">
	<img alt="e7dee9484ab7efab004fa3396d62c389.png" src="http://localhost:3000/uploads/crop/f6e30fd0af4f0f1d9348e18f5eaa9f8e.jpg_crop_2.jpg">
</p>
</body>
</html>
