.ui-mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: rgba(0,0,0,.6);
}

#circularG{
	position: relative;
	    width: 180px;
	    height: 180px;
	    margin: auto;
	    top: 50%;
}

.circularG{
    position: absolute;
    background-color: rgb(245,130,145);
    width: 23.3%;
    height: 23.3%;
    border-radius: 45px;
    -o-border-radius: 45px;
    -ms-border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    animation-name: bounce_circularG;
    -o-animation-name: bounce_circularG;
    -ms-animation-name: bounce_circularG;
    -webkit-animation-name: bounce_circularG;
    -moz-animation-name: bounce_circularG;
    animation-duration: 1.6s;
    -o-animation-duration: 1.6s;
    -ms-animation-duration: 1.6s;
    -webkit-animation-duration: 1.6s;
    -moz-animation-duration: 1.6s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
}

#circularG_1 {
    left: 0;
    top: 38.3%;
    animation-delay: 0.38s;
    -o-animation-delay: 0.38s;
    -ms-animation-delay: 0.38s;
    -webkit-animation-delay: 0.38s;
    -moz-animation-delay: 0.38s;
}

#circularG_2 {
    left: 10%;
    top: 10%;
    animation-delay: 0.58s;
    -o-animation-delay: 0.58s;
    -ms-animation-delay: 0.58s;
    -webkit-animation-delay: 0.58s;
    -moz-animation-delay: 0.58s;
}

#circularG_3 {
    top: 0;
    left: 38.3%;
    animation-delay: 0.78s;
    -o-animation-delay: 0.78s;
    -ms-animation-delay: 0.78s;
    -webkit-animation-delay: 0.78s;
    -moz-animation-delay: 0.78s;
}

#circularG_4 {
    right: 10%;
    top: 10%;
    animation-delay: 0.98s;
    -o-animation-delay: 0.98s;
    -ms-animation-delay: 0.98s;
    -webkit-animation-delay: 0.98s;
    -moz-animation-delay: 0.98s;
}

#circularG_5 {
    right: 0;
    top: 38.3%;
    animation-delay: 1.18s;
    -o-animation-delay: 1.18s;
    -ms-animation-delay: 1.18s;
    -webkit-animation-delay: 1.18s;
    -moz-animation-delay: 1.18s;
}

#circularG_6 {
    right: 10%;
    bottom: 10%;
    animation-delay: 1.38s;
    -o-animation-delay: 1.38s;
    -ms-animation-delay: 1.38s;
    -webkit-animation-delay: 1.38s;
    -moz-animation-delay: 1.38s;
}

#circularG_7 {
    left: 38.3%;
    bottom: 0;
     animation-delay: 1.58s;
    -o-animation-delay: 1.58s;
    -ms-animation-delay: 1.58s;
     -webkit-animation-delay: 1.58s;
    -moz-animation-delay: 1.58s;
}
#circularG_8 {
    left: 10%;
    bottom: 10%;
    animation-delay: 1.78s;
    -o-animation-delay: 1.78s;
    -ms-animation-delay: 1.78s;
    -webkit-animation-delay: 1.78s;
    -moz-animation-delay: 1.78s;
}



@keyframes bounce_circularG{
	0%{
		transform:scale(1);
	}

	100%{
		transform:scale(.3);
	}
}

@-o-keyframes bounce_circularG{
	0%{
		-o-transform:scale(1);
	}

	100%{
		-o-transform:scale(.3);
	}
}

@-ms-keyframes bounce_circularG{
	0%{
		-ms-transform:scale(1);
	}

	100%{
		-ms-transform:scale(.3);
	}
}

@-webkit-keyframes bounce_circularG{
	0%{
		-webkit-transform:scale(1);
	}

	100%{
		-webkit-transform:scale(.3);
	}
}

@-moz-keyframes bounce_circularG{
	0%{
		-moz-transform:scale(1);
	}

	100%{
		-moz-transform:scale(.3);
	}
}