/**************右键*************/
.rightkey{
    position: absolute;
}
.rightkey>li{
    background: #fff;border-bottom: 1px solid #ccc;
    padding: 6px 8px;font-size: 14px;
}
/*************** 选择主题 **************/
ul,li{
    list-style: none;padding: 0;
}
.container{
    width: 100%;
}
.btns{
    width: 200px;
    padding-top: 20px;float: right;
}
/********* templates-choose *********/
ul.templates-choose{
    width: 100%;height: auto;
}
ul.templates-choose li{
    width: 100%;padding: 6px;
}
ul.templates-choose li .temp-img{
    position: relative;height: 156px;
}
ul.templates-choose li .temp-img p.drag{
    position: absolute;top: 50%;left: 50%;
}
ul.templates-choose li:nth-of-type(1){
    border: 1px solid #ccc;
}
ul.templates-choose li img{
    width: 100%;height: 100%;
}
/********* templates *********/
ul.templates{
    width: 100%;height: auto;position: relative;
}
ul.templates>li{
    width: 100%;height: auto;position: absolute;
    left: 0;top: 0;padding: 15px;
}
ul.templates>li:nth-child(1){
    display: block;
}
ul.templates>li:not(:nth-child(1)){
    display: none;
}
ul.templates>li .temp-img{
    width: 100%;height: 100%;position: relative;
    background: #fff;
}
ul.templates>li img{
    width: 100%;height: 100%;
}
/*input*/
.upload,.add-upload{
    width: 100%;height: 100%;
    position: absolute;top: 0;left: 0;
    opacity: 0;
}
.addText{
    margin-top: 5px;
}
/*** .drag **/
.templates-choose li p.drag{
    transform-origin:left top;
    transform: scale(0.21,0.21);
}
ul.templates p{
    display: inline-block;cursor:move;
    position: absolute;top: 50%;left: 50%;
    word-wrap: break-word;
}
ul.templates .drag,ul.templates .drag-img{
    position: absolute;top: 0;left: 0;
}
ul.templates .drag-img{
    width: 100%;
}
ul.templates-choose .drag,ul.templates-choose .drag-img{
    position: absolute;
}
.add-temp{
    margin-left: 30%;
}