#gallery .thumbnail {
	display: table;
	width: 150px;
	height: 150px;
	float: left;
	margin: 10px;
}
#gallery .thumbnail img {
	width: 200px;
}

.imginput {
	margin-bottom: 10px;
	width: 300px;
}

#dragon-container {
	border: dotted 1px #000;
	height: 300px;
	width: 300px;
	display: block;
	margin-bottom: 50px;
}
.dragon-contained {
	background: transparent;
	display: block;
	-webkit-user-drag: element;
	-webkit-user-select: none;
	/*				border: dotted 1px #000;*/
	cursor: auto; 
	/*				left: 123px;
	top: 522px;*/
	position: absolute;
	height: 30px;
	/* 			    min-width: 100px;*/
	text-align: center;
}
.dragon-graph {
	position: relative;
	width: auto;
	height: 100%;
}
.dragon-rectangle {
	background: #000;
	display: inline-block;
	border-radius: 5px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	height: 30px;
	width: auto;
	text-align: center;
	position: relative;
	filter: alpha(Opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.65;
	z-index: 3;
	margin-left: 15px;
}
.dragon-text {
	/* margin: 10px; */
	/* font: 8px sans-serif,Verdana, Arial, Helvetica; */
	/* font-weight: 300; */
	position: relative;
	/* color: #FFF; */
	/* top: 6px; */
	left: 10px;
	/*   			 	height: 100%;*/
	width: auto;
	margin-right: 10px;
}
.dragon-p {
	cursor: auto;
	background: transparent;
	padding: 0;
	width: auto;
	/* min-width: 30px; */
	/* transition: width 0.25s; */
	/* max-width: 174px; */
	font: 12px sans-serif,Verdana, Arial, Helvetica;
	border: 0;
	font-weight: 300;
	color: #FFF;
	height: auto;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	margin-right: 10px;
	margin-top: 9px;
}
.dragon-trangle {
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	background: #000;
	width: 17.5px;
	height: 17.5px;
	top: 6px;
	left: -6px;
	position: absolute;
	-moz-border-radius: 8px;
	border-bottom-left-radius: 5px;
	z-index: -1;
}
.dragon-circle {
	position: relative;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: #424842;
	display: inline-block;
/*    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #424842;
    display: inline-block;
    top: 9px;
    left: -10px;*/
}
.dragon-circle-inner {
	height: 6px;
	width: 6px;
	border-radius: 50%;
	background: #fff;
	left: 2px;
	top: 2px;
	position: relative;
}
.dragon-close {
	position: absolute;
	/* float: right; */
	/* display: inline-block; */
	left: 110px;
	top: 0px;
}
#create-mark li {
	margin-bottom: 20px;
	list-style: none;
}
#create-mark label {
/*	display: block;*/
	margin-top: 10px;
	margin-left: 10px;
}
/*#create-mark label input {
	margin-left: 15px;
}*/
/*#create-mark p {
	margin-left: 15px;
}*/
li b{
    font-weight: normal;
    font-size: small;
    top: 1.8px;
    position: relative;
}
.radio {
	position: relative;
	display: inline-block;
	/* margin-bottom: 10px; */
	margin-right: 10px;
	cursor: pointer;
	color: #3367cc;
	font-size: smaller;
}
.icon-circle-close {
    background: url(/images/close-icon.png) no-repeat;
    background-size: contain;
    width: 30.72px;
    height: 30.72px;
}